* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'lato';
}

header {
    
    width: 100%;
    height: 68px;
    background-color: #fff;
    color: black;
    position: fixed;
    z-index: 6;
    opacity: 0;
    animation: fadeInHeader 1s ease forwards;
}

@keyframes fadeInHeader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.navbar {
    display: flex;
    height: 68px;
    align-items: center;
    justify-content: space-between;
}

.navbar .section {
    width: 98px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    margin: 0 12px;
    position: relative;
    top: 17px;
}
.navbar .section:hover{
    background-color: black;
    color: white;
    transition: .3s linear;
    border: 1px solid white;
    border-radius: 4px;
}

.navbar .section i {
    padding: 0 6px;
    font-size: 18px;
  font-weight: bold;
}
.navbar .section p {
    font-size: 16px;
  font-weight: bold;
  font-family: 'lato';
}

.nav-logo {
    width: 400px;
    height: 54px;
}

.nav-logo img {
    width: 400px;
    height: 54px;
}

.navbar .resister {
    width: 240px;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    top: 17px;
}

.navbar .resister button {
    width: 110px;
    height: 32px;
    background: none;
    outline: none;
    border: 1px solid;
    margin: 0 auto;
    cursor: pointer
}
.navbar .resister button:hover{
    background-color: black;
    color: white;
    transition: .3s linear;
    border: 1px solid white;
    border-radius: 4px;
}
.navbar .resister button:hover a{
    color: white;
}

.navbar button a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'lato';
}

.panel {
    left: -100%; /* move the panel off-screen initially */
    animation: slideInPanel 1s ease forwards; /* animate the position */
    width: 100%;
    height: 50px;
    background-color: rgb(36, 96, 94);
    display: flex;
    color: white;
    align-items: center;
    position: fixed;
    z-index: 7;
}
@keyframes slideInPanel {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.panel .panel-option {
    display: flex;
    align-items: center;
}

.panel .panel-option ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.panel .panel-option ul li {
    list-style: none;
    padding: 0 36px;
}

.panel .panel-option ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'lato';
    font-weight: bold;
}
.panel .panel-option ul li a:hover{
    text-decoration: underline;
    color: rgb(213, 209, 209);
    transition: .3s linear;
}

.panel .panel-option .search {
    width: 270px;
    height: 25px;
    position: relative;
    left: 220px;
}

.panel .panel-option .search input {
    width: 240px;
    height: 22px;
    border-radius: 8px;
    outline: none;
}

.panel .panel-option .search i {

    position: relative;
    right: 28px;
    color: black;
    top: 2px;
}

.container {
    display: flex;
    padding-top: 118px;

}

.container .left-side {
    width: 73%;
    height: auto;
    /* border-right: 1px solid rgba(167, 165, 165, 0.824); */
}

.container .left-side .news-cart {
    width: 96%;
    height: 286px;
    /* border: 1px solid black; */
    margin: 15px 14px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
}

.container .left-side .news-cart .newsItem {
    width: 350px;
    height: 284px;
    border: 1px solid rgba(162, 161, 161, 0.851);
    /* background-color: #c3c3c4db; */
    border-radius: 8px;
    transition: transform 0.3s ease; /* add a transition for smoother animation */

}

.container .left-side .news-cart .newsItem:hover {
    transform: scale(1.05); /* scale up the news item on hover */
    background-color: #d9d6d6c5;
    cursor: pointer;
}

.container .left-side .news-cart .newsItem .news-img {
    width: 350px;
    height: 190px;
    /* border: 1px solid red; */

}

.container .left-side .news-cart .newsItem .news-img img {
    width: 100%;
    height: 190px;
    border-radius: 4px;
}

.container .left-side .news-cart .newsItem p {
    color: black;
    font-size: 14px;
    font-family: 'popins';
    padding-left: 4px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.container .right-side {
    width: 27%;
    height: auto;
    /* background-color: #3781d1; */
}

.container .right-side .latest-news {
    width: 100%;
    height: auto;
}

.container .right-side .latest-news .news-item {
    display: flex;
    width: 96%;
    height: 132px;
    border: 1px solid rgba(206, 206, 206, 0.873);
    margin: auto;
    margin-top: 13px;
    padding: 2px;
    background-color: #fff;
    border-radius: 8px;
    /* align-items: center; */
}

.container .right-side .latest-news .news-item:hover {
    background-color: #d9d6d6c5;
    cursor: pointer;
}

.container .right-side .latest-news .news-item .news-image {
    width: 570px;
    height: 132px;
    display: flex;
    align-items: center;
}

.container .right-side .latest-news .news-item .news-image img {
    width: 100%;
    height: 130px;
}

.container .right-side .latest-news .news-item p {
    padding-left: 4px;
    padding-top: 4px;
    color: black;
    font-family: 'popins';
    font-size: 15px;
    font-weight: lighter;

}

footer {
    width: 100%;
    height: 100px;
    background-color: rgb(36, 96, 94);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer ul {
    display: flex;
    list-style: none;
    align-items: center;
}

footer ul li {
    list-style: none;
    padding: 0 16px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'lato';
    font-weight: bold;
}
footer ul li a:hover{
    color: rgb(171, 170, 170);
    text-decoration: underline;
    transition: .3s linear;
}